<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user-secret fa-5x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

  <!--To loop through the result array add a callback func to pickup all those users inside the usersWithSecrets array.
    And for each of those users, we`re going to render the value of the user.secrets field inside a paragraph
  and amrk up them with <%%> tags to represent that they are javascript lines rather than HTML -->
    <% usersWithSecret.forEach(function(user){  %>
      <p class="secret-text"> <%= user.secret %> </p>
   <% }) %>


    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
